.App {
    max-width: 1440px;
    font-family: 'Roboto', 'Roboto Slab', 'Source Sans Pro', 'Inter', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    background-color: #fff;
    color: white;
    height: 100vh;
    margin: 0 auto;
}
