.header{
    border-bottom: 1px solid rgba(145, 143, 143, 0.7);
    box-sizing: border-box;
    z-index: 3;
}

.header__container{
    display: flex;
    justify-content: space-between;
    margin: auto 104px;
    align-items: center;
}

.header__logo{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__logo_black{
    color: #1A1B22;
}

.header__mobile{
    background-color: #1A1B22;
}

.header__mobile-black{
    background-color: #FFFFFF;
}

@media screen and (max-width: 990px) {
    .header__container {
        margin: auto 40px;
        height: 74px;
    }
}

@media screen and (max-width: 758px) {
    .header__container{
        margin: auto 16px;
        height: 56px;
    }
}