.NewsCard{
    max-width: 400px;
    max-height: 576px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    position: relative;
}

.newscard__picture{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    cursor: pointer;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.newscard__content{
    height: 258px;
    display: flex;
    flex-direction: column;
    padding: 22px 20px 21px;
    justify-content: space-between;
}

.newscard__date{
    margin: 0;
    color: #B6BCBF;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.newscard__title{
    margin: 7px 0 19px;
    color: #1A1B22;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
}

.newscard__text{
    margin: 0;
    color: #1A1B22;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.newscard__source{
    color: #B6BCBF;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin: 0;
}

.newscard__message{
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #000000;
}

.newscard__message-left{
    width: 88px;
    top: 24px;
    left: 24px;
    display: flex;
}

.newscard__message-right{
    width: 182px;
    top: 24px;
    right: 70px;
}

.newscard__message_visible{
    display: flex;
}

.newscard__button{
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 8px;
    position: absolute;
    top: 24px;
    right: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

.newscard__button-bookmark{
    background-image: url(../../images/save-icon.svg);
}

.newscard__button-trash{
    background-image: url(../../images/trash.svg);
}

.newscard__button-trash:hover{
    background-image: url(../../images/trash-hover.svg);
}

.newscard__button_pressed{
    background-image: url(../../images/save-icon-pressed.svg);
}

.newscard__button-bookmark:hover {
    background-image: url(../../images/save-icon-hover.svg);
}
  
.newscard__button_pressed:hover {
    background-image: url(../../images/save-icon-pressed.svg);
}



@media screen and (max-width: 840px) {
    .NewsCard{
        max-width: 224px;
        max-height: 420px;
    }
    .newscard__title{
        font-size: 22px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .newscard__content{
        max-height: 270px;
        padding: 22px 16px 21px;
    }
    .newscard__message-right{
        width: 150px;
    }
}

@media screen and (max-width: 728px) {
    .NewsCard{
        max-width: 228px;
        max-height: 440px;
    }
    .newscard__title{
        line-height: 26px;
    }
    
    .newscard__content{
        max-height: 244px;
    }
}